
body {
  font-family: "Poppins", sans-serif;
}

h1,h2,p { 
  color: white;
}
ul li {
  color: white;
}

.card-body p {
  color: black;
}

nav ul li a.active {
  color: #ff0000; /* Cambia el color a rojo cuando esté activo */
  font-weight: bold; /* O cualquier otro estilo que desees */
}

.img-bg {
  background-image: url(imagenes/berserk2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* BUTTON */
a button {
  --green: #fff;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

a button:hover {
  color: #fff;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

a button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

a button:hover:before {
  transform: translateX(15em);
}
.mt {
  margin-top: 100px;
}
